In [1]:
print('Hello')

Hello

In [2]:
import numpy as np
import pandas as pd

from bs4 import BeautifulSoup
import requests

Import Data from Wikipedia

In [3]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
Data=requests.get(url).text
soup=BeautifulSoup(Data,"html5lib")
tables=soup.find_all('table')
len(tables)
Dataframe=pd.read_html(str(tables[0]),flavor='bs4')
Toronto=Dataframe[0]
Toronto.head()

,0,1,2,3,4,5,6,7,8
0,M1ANot assigned,M2ANot assigned,M3ANorth York(Parkwoods),M4ANorth York(Victoria Village),M5ADowntown Toronto(Regent Park / Harbourfront),M6ANorth York(Lawrence Manor / Lawrence Heights),M7AQueen's Park(Ontario Provincial Government),M8ANot assigned,M9AEtobicoke(Islington Avenue)
1,M1BScarborough(Malvern / Rouge),M2BNot assigned,M3BNorth York(Don Mills)North,M4BEast York(Parkview Hill / Woodbine Gardens),"M5BDowntown Toronto(Garden District, Ryerson)",M6BNorth York(Glencairn),M7BNot assigned,M8BNot assigned,M9BEtobicoke(West Deane Park / Princess Garden...
2,M1CScarborough(Rouge Hill / Port Union / Highl...,M2CNot assigned,M3CNorth York(Don Mills)South(Flemingdon Park),M4CEast York(Woodbine Heights),M5CDowntown Toronto(St. James Town),M6CYork(Humewood-Cedarvale),M7CNot assigned,M8CNot assigned,M9CEtobicoke(Eringate / Bloordale Gardens / Ol...
3,M1EScarborough(Guildwood / Morningside / West ...,M2ENot assigned,M3ENot assigned,M4EEast Toronto(The Beaches),M5EDowntown Toronto(Berczy Park),M6EYork(Caledonia-Fairbanks),M7ENot assigned,M8ENot assigned,M9ENot assigned
4,M1GScarborough(Woburn),M2GNot assigned,M3GNot assigned,M4GEast York(Leaside),M5GDowntown Toronto(Central Bay Street),M6GDowntown Toronto(Christie),M7GNot assigned,M8GNot assigned,M9GNot assigned

Fix the table and make it usefull for our work

In [4]:
T0=pd.DataFrame(Toronto[0])
T1=pd.DataFrame(Toronto[1])
T2=pd.DataFrame(Toronto[2])
T3=pd.DataFrame(Toronto[3])
T4=pd.DataFrame(Toronto[4])
T5=pd.DataFrame(Toronto[5])
T6=pd.DataFrame(Toronto[6])
T7=pd.DataFrame(Toronto[7])
T8=pd.DataFrame(Toronto[8])
T0.rename({0:'Borough'}, axis=1, inplace=True)
T1.rename({1:'Borough'}, axis=1, inplace=True)
T2.rename({2:'Borough'}, axis=1, inplace=True)
T3.rename({3:'Borough'}, axis=1, inplace=True)
T4.rename({4:'Borough'}, axis=1, inplace=True)
T5.rename({5:'Borough'}, axis=1, inplace=True)
T6.rename({6:'Borough'}, axis=1, inplace=True)
T7.rename({7:'Borough'}, axis=1, inplace=True)
T8.rename({8:'Borough'}, axis=1, inplace=True)
Tor=T0.append(T1,ignore_index=True)
Tor1=Tor.append(T2,ignore_index=True)
Tor2=Tor1.append(T3,ignore_index=True)
Tor3=Tor2.append(T4,ignore_index=True)
Tor4=Tor3.append(T5,ignore_index=True)
Tor5=Tor4.append(T6,ignore_index=True)
Tor6=Tor5.append(T7,ignore_index=True)
Tor7=Tor6.append(T8,ignore_index=True)

In [5]:
Toronto=Tor7
Toronto.head()

                                             Borough
0                                    M1ANot assigned
1                    M1BScarborough(Malvern / Rouge)
2  M1CScarborough(Rouge Hill / Port Union / Highl...
3  M1EScarborough(Guildwood / Morningside / West ...
4                             M1GScarborough(Woburn)

Divide in 3 columns

In [6]:
Toronto['Neighborhood']=Toronto.Borough.str.extract('(\(.*\))',expand=True)
Toronto['Neighborhood']=Toronto.Neighborhood.str.replace('(','')
Toronto['Neighborhood']=Toronto.Neighborhood.str.replace(')','')
Toronto['Neighborhood']=Toronto.Neighborhood.str.replace(' \/',', ')
Toronto['Borough']=Toronto.Borough.str.replace('(\(.*\))','')

In [7]:
Toronto['PostalCode']=Toronto.Borough.str.extract('(\A...)',expand=True)
Toronto['Borough']=Toronto.Borough.str.replace('(\A...)','')

In [8]:
Toronto.head()

        Borough                              Neighborhood PostalCode
0  Not assigned                                       NaN        M1A
1   Scarborough                           Malvern,  Rouge        M1B
2   Scarborough  Rouge Hill,  Port Union,  Highland Creek        M1C
3   Scarborough       Guildwood,  Morningside,  West Hill        M1E
4   Scarborough                                    Woburn        M1G

Drop the NOT ASSIGNED in the Borough column

In [9]:
Toronto.drop(Toronto[Toronto['Borough'] == "Not assigned"].index,inplace=True)
Toronto.head()

       Borough                              Neighborhood PostalCode
1  Scarborough                           Malvern,  Rouge        M1B
2  Scarborough  Rouge Hill,  Port Union,  Highland Creek        M1C
3  Scarborough       Guildwood,  Morningside,  West Hill        M1E
4  Scarborough                                    Woburn        M1G
5  Scarborough                                 Cedarbrae        M1H

In [10]:
Nei=Toronto.loc[(Toronto.Neighborhood =='Not assigned')]
Nei

Empty DataFrame
Columns: [Borough, Neighborhood, PostalCode]
Index: []

In [11]:
Toronto.shape

(103, 3)